.intro {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
}

h1 {
    font-size: 3rem;
}


h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

p {
    margin-top: 1rem;
}

.intro-block {
    margin: 1.5rem;
}

.overview-text {
    margin-top: 1rem;
}

/* float https://www.w3schools.com/css/css_float.asp */
.sparkle-right-top {
    float: right;
    transform: scale(0.5);
    margin-top: -14.5rem;
    margin-right: -3.25rem;
}


.overview {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 2rem 0rem;
    margin-bottom: 5rem;
}

.overview h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.card {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;

    position: relative;
}

.card-content {
    background-image: url(../img/card-border-slice.svg);
    padding: 1rem;
}


.sparkle-heading {
    display: inline-block;
    font-size: 2.6rem;
}

.project {
    background-color: #F5EEFF;
    /* margin: 2rem 0rem; */
   width: 100%;
}

.start-img {
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
}


.overview-grid {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
}

.walkthrough-title {
    display: block;
}


.comparison-img {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    margin-top: 3rem;
}


.project-contents, .feedback-contents {
    max-width: 65rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    padding: 3rem 2rem;
}

.feedback-contents {
    padding-top: 0;
    padding-bottom: 1rem;
}


li {
    margin-bottom: 0.2rem;
}

figure {
    margin: 0;
    margin-bottom: 2rem;
}

figcaption {
    margin-top: -1rem;
    font-size: 1rem;
    font-style: italic;
}

img {
    max-width: 100%;
    height: auto;
}

.left-slice, .right-slice {
    display: none;
}

.section-heading {
    display: inline-block;
    margin-bottom: -5rem;
}

.sparkle-left {
    float: left;
    transform-origin: top;
    transform: scale(0.5);
    margin-left: -3rem;
    margin-top: -1rem;
}


@media (min-width: 25rem) {
    .overview {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 30rem) {
    .overview {
        grid-template-columns: 1fr 1fr;
    }

    .sparkle-heading {
        font-size: 3rem;
    }
    
}

@media (min-width: 40rem) {
    .walkthrough-button {
        margin-left: 2rem;
    }

    .walkthrough-title {
        display: flex;
        align-items: center;
    }

    .comparison-img {
        grid-template-columns: 1fr 1fr;
        grid-column: span 2;
    }

    .left-slice, .right-slice {
        display: initial;
    }

    .card-content {
        background-image: url(../img/overview-slice.svg);   
    }

    .sparkle-heading {
        font-size: 4rem;
    }

}

@media (min-width: 50rem) {
    .overview {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .comparison-img {
        grid-template-columns: 1fr 1fr;
    }

    .project-contents, .feedback-contents {
        padding: 2rem 5rem;
    }

    .feedback-contents {
        padding-top: 0;
        padding-bottom: 1rem;
    }

    .sparkle-heading, h2 {
        font-size: 5.25rem;
    }

    .sparkle-right-top {
        margin-top: -12rem;
        margin-left: -15rem;
    }


    .intro-block {
        margin-left: 5rem;
        margin-right: 5rem;
    }

}

@media (min-width: 70rem) {
    .overview-grid {
        grid-template-columns: 1fr 3fr;
    }

    .walkthrough-title {
        display: block;
    }

    .walkthrough-button {
        margin-left: initial;
    }
}

@media (min-width: 75rem) {
    .intro {
        grid-template-columns: 2fr 1fr;
    }

    h1 {
        font-size: 5rem;
    }

    .sparkle-right-top {
        float: right;
        float: bottom;
        transform: scale(1);
        margin: 0;
    }
    

}

