.intro {
    padding: 2rem 5rem 10rem 5rem;
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
}

.project-img {
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
}


.project-info {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 2rem 5rem;
    background-color: #B9E5E8;
    text-align: left;
}

.project-info h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: bold;
}


.process-contents {
    max-width: 65rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    padding: 0rem 2rem;
}

.process-contents h2 {
    font-size: 3rem;
}

.process-block {
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
    margin-bottom: 5rem;
}


.comparison-img {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
    /* row-gap: 1rem; */
    margin-top: 3rem;
}


li {
    margin-bottom: 0.2rem;
}

figure {
    margin: 0;
    margin-bottom: 1rem;
}

figcaption {
    /* margin-top: -1rem; */
    font-size: 1rem;
    font-style: italic;
    /* column span https://stackoverflow.com/questions/54370822/how-to-make-the-items-in-the-last-row-consume-remaining-space-in-css-grid */
    grid-column: span 2;
}

img {
    max-width: 100%;
    height: auto;
}



@media (min-width: 25rem) {
    .project-info {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 30rem) {
    .project-info {
        grid-template-columns: 1fr 1fr;
    }
    
}

@media (min-width: 40rem) {
    .comparison-img {
        grid-template-columns: 1fr 1fr;
        grid-column: span 2;
    }

}

@media (min-width: 50rem) {
    .project-info {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .comparison-img {
        grid-template-columns: 1fr 1fr;
    }

    .h2 {
        font-size: 5.25rem;
    }

    .intro-block {
        margin-left: 5rem;
        margin-right: 5rem;
    }

}


@media (min-width: 75rem) {
    .intro {
        grid-template-columns: 1fr 2fr;
    }

    h1 {
        font-size: 5rem;
    }

}

