.grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
    padding: 1.5rem;
    row-gap: 2rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.info-block {
    margin-bottom: 2rem;
    max-width: 100%;

    text-align: left;
}


.bio {
    margin-top: 0;
    max-width: 38rem;
}


.text {
    /* display: inline; */
    text-align: left;
}


span, .email {
    font-weight: bold;
    color: #61237F;
    text-decoration: none;
}

.email:hover, .email:focus {
    text-decoration: underline solid #61237F 0.1rem;
}

/* grid https://www.w3schools.com/css/css_grid_item.asp */
.card-portrait {
    grid-row: 1;
}

.info-block {
    grid-row: 2;
}

.portrait {
    transform-origin: center;
    transform: scale(0.75);
    margin: auto;
    max-width: 90%;
}

@media (max-width: 20rem) {
    .portrait {
        margin: auto -1.5rem;
    }
    
}


@media (min-width: 35rem) {
    .portrait {
        transform: scale(1);
    }
    
}


@media (min-width: 45rem) {
    .grid {
        grid-template-columns: 2fr 1fr;
        max-width: 70rem;
    }

    /* initial https://www.w3schools.com/cssref/css_initial.php */
    .card-portrait {
        grid-row: initial;
        grid-column: 2;
        width: auto;
        height: auto;
    }
    
    .info-block {
        grid-row: initial;
        grid-column: 1;
    }

}

@media (min-width: 45rem) {

    .intro-heading {
        font-size: 7rem;
    }

    .title-sparkle {
        transform-origin: right;
        float: left;
        transform: scale(1);
        margin: 0;
        margin-right: -8rem;
    }
    
}

@media (min-width: 90rem) {
    .intro-heading {
        font-size: 8.5rem;
    }

}
