.intro-text {
    margin: 12rem;
}

.intro {
    display: flex;
    justify-content: center;
}

.button {
    display: inline-block;
    position:relative;
    border: 1px solid #75469D;
    border-radius: 0.25rem;
    padding: 0.75rem 1rem;
    color: #75469D;
    font-size: 1rem;
    text-decoration: none;
}

.button-link:after{
    background-color: #75469D;
}

.button-link:hover::after, .button-link:focus::after{
    background-color: #75469D;
}

.button:hover,
.button:focus {
    background-color: white;
}

.projects {
    margin: 5rem;
}

.project-gallery {
    padding: 0;
}

.project-listing {
    margin: 0;
    list-style: none;
}

.project-card {
    border: #75469D solid 2px;
    padding: 1rem;
}

.project-container {
    position: relative;
}

.project-thumbnail, .overlay, .project-card {
    border-radius: 1rem;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(163, 163, 163, 0.5);

    opacity: 0;
    transition: opacity 0.25s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}

.project-btn {
    background-color: rgb(58, 59, 62);
    border: solid rgb(223, 223, 223) 1px;
    border-radius: 0.75rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-decoration: none;
    color: white;

    transition: transform 0.5s ease;
}

.project:hover {
    background-color: rgb(91, 92, 95);;
}

.project-card:hover, .project:focus-within {
    .overlay {
        opacity: 1;
        transform: opacity;
    }

    .project {
        transform: translateY(-10px);
    }
}

.role-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    row-gap: 0.5rem;
    column-gap: 0.3rem;
    font-size: 0.8rem;
    margin-top: auto;
    margin-bottom: auto;
    
}


