
.process {
    padding: 3rem 8rem 3rem 8rem;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}

.about-link {
    color: black;
    position: relative;
    text-decoration: none;
    list-style: none;
}


.about-link:after{
    position: absolute;
    content:'';
    width:100%;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #75469D;

    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s ease-in-out;
}

.about-link:hover::after, .about-link:focus::after{
    background-color: #75469D;
    transform: scaleX(1);
    transform-origin: top left;
    transition: transform 0.5s ease-in-out;
}

.intro {
    margin: 0;
    padding: 3rem;
}

.project-img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.project-info {
    background-color: #75469D;
    color: white;
    padding: 1.5rem 3rem 1.5rem 3rem;
}

.overview-h2 {
    color: white;
    font-size: 1.5rem;
}

.row{
    margin: 0;
}

ul {
    overflow: auto;
    padding: 0;
}

.proj-info-li {
    width: 100%;
}
